<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.homescreenarcade"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity"
                  android:icon="@drawable/ic_launcher"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".invaders.InvadersWallpaper"
            android:label="@string/invaders_title"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/invaders_wallpaper"/>
        </service>

        <service
            android:name=".blockdrop.BlockDropWallpaper"
            android:label="@string/block_drop_title"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/blockdrop_wallpaper"/>
        </service>

        <service
            android:name=".mazeman.MazeManWallpaper"
            android:label="@string/mazeman_title"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/mazeman_wallpaper"/>
        </service>

        <service
            android:name=".pinball.PinballWallpaper"
            android:label="@string/pinball_title"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/pinball_wallpaper"/>
        </service>

        <receiver android:name=".FireButtonWidget"
                  android:label="@string/fire_btn">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/fire_button_widget_info"/>
        </receiver>

        <receiver android:name=".UpDownWidget"
                  android:label="@string/up_down">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/up_down_widget_info"/>
        </receiver>

        <receiver android:name=".LeftRightWidget"
                  android:label="@string/left_right">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/left_right_widget_info"/>
        </receiver>
    </application>
</manifest>
